.Centro {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
    flex-direction: column;
    text-align: center;
}
.h1Dash{
    text-align: center;
    color: rgb(60, 129, 69);
}
.dashboard {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgb(174, 236, 189), rgb(68, 199, 158));
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    padding-bottom: 120px; 
}
.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.meioDash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
    padding-top: 150px;
    padding-bottom: 50px;
}

.dash-card {
  width: 250px !important;   
  height: 200px !important;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;  
  margin-top: 1rem;    
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  cursor: pointer;
}

.dash-card img, 
.card svg {
  font-size: 40px; 
  margin-bottom: 15px;
}

.card-body{
    text-align: center;
}
.dash-card:hover{
    transform: translateY(-30px);
    box-shadow: 0 20px 30px rgba(7, 240, 26, 0.2);
}
.container-troca{
  background-color: white;
  color: black;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
}
.container-troca input {
  width: 100%;
  padding: 10px 14px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
}

.container-troca input:focus {
  border-color: #2ecc71; 
  background-color: #fff;
  box-shadow: 0 0 8px rgba(46, 204, 113, 0.5);
}
